node_modules
.env
configs
.olympix*

# Hardhat files
/cache
/artifacts

# Foundry files
/cache_forge
/out

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# ignore all deployment build artifacts (heavy)
ignition/deployments/chain-*/build-info/
